/raw
myenv/
/myenv
/myenv/
/model.pkl
/metrics.json
/data
model/
/model
model
mlruns
mlruns/
/mlruns


/logistic_regression_model.pkl
/decision_tree_model.pkl
/xgbclassifiermodel.pkl
/metrics_logistic.json
/metrics_decision_tree.json
/metrics_xgboost.json
/metrics_svm.json
/model_evaluation.log
/xgboost_best_model.pkl
/best_model.pkl
/registered_model_version.txt
