/raw
myenv/
/myenv
/myenv/
/model.pkl
/metrics.json
/data
model/
/model
model

/logistic_regression_model.pkl
/decision_tree_model.pkl
/xgbclassifiermodel.pkl
/metrics_logistic.json
/metrics_decision_tree.json
/metrics_xgboost.json
